name: CI
on: [push, pull_request]
jobs:
  test-elixir:
    runs-on: ubuntu-18.04
    container: elixir:${{ matrix.elixir_version }}-slim

    strategy:
      matrix:
        elixir_version: [1.6, 1.9]

    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y git
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: mix test

  test-mysql:
    runs-on: ubuntu-18.04

    services:
      mysql:
        image: mysql:${{ matrix.mysql_version }}
        env:
          MYSQL_ROOT_PASSWORD: root
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    container: elixir:1.9-slim

    strategy:
      matrix:
        mysql_version: ["5.7", "8.0"]

    steps:
      - name: Install MySQL Client
        run: |
          apt-get update
          apt-get install -y wget ca-certificates gnupg
          apt-key adv --recv-keys --keyserver keys.gnupg.net 8C718D3B5072E1F5
          echo "deb http://repo.mysql.com/apt/debian/ stretch mysql-${{ matrix.mysql_version }}" >> /etc/apt/sources.list.d/mysql.list
          apt-get update
          apt-get install --allow-unauthenticated -y mysql-client
          mysql --version
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: |
          apt-get install -y git
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: MYSQL_URL=root:root@mysql ECTO_ADAPTER=myxql mix test
  
  test-mssql:
    runs-on: ubuntu-18.04
  
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:${{ matrix.mssql_version }}
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: somePassword
        ports:
          - 1433:1433

    strategy:
      matrix:
        mssql_version: ["2017-latest", "2019-latest"]
        
    env:
      ACCEPT_EULA: Y
      SA_PASSWORD: somePassword
      MSSQL_URL: sa:somePassword@mssql

    steps:
      - name: Install MsSql Client Tools
        run: |
          apt-get update
          apt-get install -y curl wget ca-certificates gnupg 
          curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list | tee /etc/apt/sources.list.d/msprod.list
          apt-get update
          apt-get install -y mssql-tools unixodbc-dev
      - uses: actions/checkout@v1
      - uses: actions/setup-elixir@v1
        with:
          otp-version: 22.2
          elixir-version: 1.9.4
      - name: Install Dependencies
        run: |
          apt-get install -y git
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: |
          export PATH="/opt/mssql-tools/bin:$PATH"
          ECTO_ADAPTER=mssql mix test
          
  test-pg:
    runs-on: ubuntu-18.04

    services:
      pg:
        image: postgres:${{ matrix.pg_version }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    container: elixir:1.9-slim

    strategy:
      matrix:
        pg_version: ["9.4", "9.6", "11"]

    steps:
      - name: Install PG Client
        run: |
          apt-get update
          apt-get install -y wget ca-certificates gnupg
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
          echo "deb http://apt.postgresql.org/pub/repos/apt/ buster-pgdg main ${{ matrix.pg_version }}" >> /etc/apt/sources.list.d/pgdg.list
          apt-get update
          apt-get install -y postgresql-${{ matrix.pg_version }} postgresql-contrib-${{ matrix.pg_version }}
          psql --version
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: |
          apt-get install -y git
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: PG_URL=postgres:postgres@pg ECTO_ADAPTER=pg mix test
